@using BGlobalCars.Application.Vehicles.Responses.Vehicles;
@model VehicleListViewModel
@{
    ViewData["Title"] = "Vehículos";
}
<div>
    <div class="d-flex p-2 justify-content-between">
        <h1 class="h3">@ViewData["Title"]</h1>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addVehicle">
            Agregar
        </button>
    </div>
    <div id="VehicleList">
        @await Html.PartialAsync("../Shared/_VehicleList", Model.Vehicles)
    </div>
    <div id="VehicleAddModal">
        @await Html.PartialAsync("../Shared/_AddVehicleModal", Model.VehicleModel)
    </div>

    
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        function isJsonString(str) {
            try {
                JSON.parse(str);
            } catch (e) {
                return false;
            }
            return true;
        }
        $(function() {

            $("#CancelSubmit").on('click', (e) => {
                e.preventDefault();
                $("#AddVehicleForm")[0].reset()
                $('#addVehicle').modal('hide')
            })

            $("#AddVehicleForm").submit(function (e){
                e.preventDefault();
                //$("#SubmitVehicle").prop("disabled", true)
                const form = $(this)[0];
                
                const rawData = new FormData(form);
                fetch("@Url.Action("Index","Home")", {
                    method: 'POST',
                    cache: 'reload',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(Object.fromEntries(rawData))
                })
                .then((response) => {
                    response.json()
                        .then(json => {
                            if (json.success){
                                $("#VehicleList").html(json.partialView)
                                $('#addVehicle').modal('hide')
                                form.reset()

                            }else{
                                const eList = json.errors.map(e => `<li>${e.errorMessage}</li>`)
                                $("#errorList").html(eList)
                            }  
                        })
                    
                })
                .catch((error) => {
                    console.error(error)
                })
                   
                    
                

                
            });
        });
        
    </script>
}